body {
  // background: url("../../public/assets/bg/bg-img3.jpg") !important;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding: 0px !important;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
::-webkit-scrollbar-track {
  border-radius: 6px;
}
p {
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif" !important;
}

.sidebar-container {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 101;
  width: var(--sidebar-width);
  background: hsl(0, 0%, 100%);

  .main-logo {
    display: flex;

    margin-top: 44px;
    margin-left: 40px;
    margin-bottom: 36px;
  }

  .sidebar-navigation {
    padding: 0 24px;
    .sidebar-nav-link {
      display: flex;
      align-items: center;
      padding: 12px 20px;
      margin-bottom: 12px;
      border-radius: 6px;
      color: #9c9c9c;
      cursor: pointer;
      transition: all 0.5s;

      span {
        margin-left: 12px;
      }

      &.active {
        color: #fff;
        background-color: #000000;
      }

      &:hover:not(.active) {
        background-color: #e2e2e2;
        color: #454545;
      }
    }
  }
}
